/* 공통 input css */
.storybook-input {
  background: #ffffff;
  border: 1px solid #3eac62;
  border-radius: 100px;
  padding: 4px 4px 4px 24px;

  font-family: 'Lexend';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
}

.storybook-input-label {
  color: #3eac62;
  font-family: 'Lexend';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 150%;
  display: inline-block;
  width: 112px;
  height: 24px;
  margin-right: 17px;
}

.storybook-input-label::after {
  content: '*';
  color: red;
}

.storybook-input—secondary {
  background: #ffffff;
  border: 1px solid #f4f4f4;
  border-radius: 8px;
}
.a11y-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  clip-path: polygon(0, 0, 0, 0);
}
