.storybook-button {
  font-family: 'Nunito Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 700;
  height: 40px;
  border: 0;
  padding: 0px 24px;
  background: #3eac62;
  border-radius: 100px;
}
.storybook-button—primary {
  color: white;
}
.storybook-button—secondary {
  color: #3eac62;
  background: #fff;
  border: 1px solid #3eac62;
}

.storybook-button—third {
  background: #d3d3d3;
  color: white;
}
