.storybook-input-checkbox-container {
  position: relative;
}

.storybook-input-checkbox {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  border: 1px solid rgba(196, 196, 196, 1);
  appearance: none;
  margin: 0;
  padding: 0;
  cursor: pointer;
}

.storybook-input-checkbox-checkicon {
  color: rgba(196, 196, 196, 1);
  width: 5px;
  position: absolute;
}

input[type='checkbox']:checked {
  border-color: black;
  border-width: 2px;
}

.storybook-input-checkbox-span {
  position: absolute;
  position: relative;
  left: 10px;
  top: -6px;
  color: rgba(196, 196, 196, 1);
  font-size: 14px;
}

.isActive {
  color: black;
}
