.Notification {
  background-color: #3eac62;
  color: #c5e6d0;
  font-family: 'Lexend';
  height: 37px;
}
.Notification p {
  text-align: center;
  padding: 8px 0;
  margin-block-start: 0;
  margin-block-end: 0;
}
.Logo {
  width: 188.4px;
  height: 44.37px;
}
.search_form_background {
  background-color: white;
}
.search_form {
  max-width: 1200px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: auto;
  padding: 35px 0;
}
.search_bar {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.gap {
  padding: 0 24px;
  color: #c8c9cb;
}
.search_button {
  background-color: transparent;
  color: transparent;
  border: none;
  display: flex;
  width: 48px;
  height: 48px;
  justify-content: center;
  align-items: center;
}
.menu_bar {
  font-family: 'Lexend';
  color: black;
}
.cart_icon {
  /* display: flex; */
  /* align-items: center;
  justify-content: center; */
}
